<div>
  <div><%= shopping_cart_item.quantity %> <%= shopping_cart_item.item.name %> <%=number_to_currency shopping_cart_item.item.price %> <%= link_to "Remove From Cart", remove_cart_item_path(:item_id => shopping_cart_item.item.id) %></div>
</div>