<!DOCTYPE HTML>
<html>
	<head>
		<title>From the Heart Memorial</title>
				<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/jquery.onvisible.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-desktop.css" />
			<link rel="stylesheet" href="/css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<style type="text/css">
		li.tooltips {
		  position: relative;
		  display: inline;
		}
		li.tooltips span {
		  position: absolute;
		  width:140px;
		  color: #FFFFFF;
		  background: #000000;
		  height: 30px;
		  line-height: 30px;
		  text-align: center;
		  visibility: hidden;
		  border-radius: 6px;
		}
		li.tooltips span:after {
		  content: '';
		  position: absolute;
		  bottom: 100%;
		  left: 50%;
		  margin-left: -8px;
		  width: 0; height: 0;
		  border-bottom: 8px solid #000000;
		  border-right: 8px solid transparent;
		  border-left: 8px solid transparent;
		}
		li:hover.tooltips span {
		  visibility: visible;
		  opacity: 0.8;
		  top: 30px;
		  left: 50%;
		  margin-left: -76px;
		  z-index: 999;
		}
		</style>
	</head>
	<body class="homepage">

		<!-- Header -->
			<div id="header">
						
				<!-- Inner -->
					<div class="inner">
						<header>
							<img src="/images/logo-ulow-res.png">
							<h1><a href="/" id="logo">From The Heart Memorial</a></h1>
							<hr />
							<p>Offering you the finest funeral services around.</p>
						</header>
						<footer>
							<a href="#banner" class="button circled scrolly">Start</a>
						</footer>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>

						<!-- 	<li>
								<a href="">Dropdown</a>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
									<li>
										<a href="">And a submenu &hellip;</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Phasellus consequat</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
										</ul>
									</li>
									<li><a href="#">Veroeros feugiat</a></li>
								</ul>
							</li> -->

							<li><a href="/store">Shop</a></li>
							<li><a href="/caskets/new">Custom Caskets</a></li>
							<li class="tooltips"><!--<a href="no-sidebar.html">-->Custom Tombstones<span>Coming Soon</span></a></li>
							<li><a href="/shopping_cart">Shopping Cart (<%= @shopping_cart.shopping_cart_items.count %> items)</a></li>
						</ul>
					</nav>

			</div>
			
		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>FTH Shop</h2>
					<p>
						A variety of products for funerals of all types.
					</p>
				</header>
			</section>

		<!-- Carousel -->
			<section class="carousel">
				<div class="reel">

					<article>
						<a href="/store?category=flowers" class="image featured"><img src="/images/roses.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Flowers</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="/store?category=picture_frames" class="image featured"><img src="/images/frame.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Picture Frames</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="/store?category=gift_baskets" class="image featured"><img src="/images/gift_basket.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Gift Baskets & Food</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="/store?category=jewelry" class="image featured"><img src="/images/jewelry.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Memorial Jewelry</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="/store?category=symapthy_flowers" class="image featured"><img src="/images/sympathy.jpeg" alt="" /></a>
						<header>
							<h3><a href="#">Sympathy Flowers</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>

					<article>
						<a href="/store?category=cemetery_flowers" class="image featured"><img src="/images/cemetery.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Cemetery Flowers</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					<article>
						<a href="/store?category=memorial_gifts" class="image featured"><img src="/images/memorial.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Memorial Gifts</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>							
					</article>
				
					
				</div>
			</section>
			
		<!-- Main -->
		<!-- 	<div class="wrapper style2">

				<article id="main" class="container special">
					<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
					<header>
						<h2><a href="#">Sed massa imperdiet magnis</a></h2>
						<p>
							Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim 
							pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
						</p>
					</header>
					<p>
						Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa 
						posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus 
						sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam 
						mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan 
						lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum 
						consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue 
						interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia 
						natoque aenean scelerisque.
					</p>
					<footer>
						<a href="#" class="button">Continue Reading</a>
					</footer>
				</article>

			</div> -->

		<!-- Features -->
			<div class="wrapper style1">
				
				<section id="features" class="container special">
					<header>
						<h2>Custom Products</h2>
						<p>You design it, we build it. It's that simple.</p>
					</header>
					<div class="row">

						<article class="4u -2u special">
							<a href="/caskets/new" class="image featured"><img src="/images/casket.jpg" alt="" /></a>
							<header>
								<h3>Custom Caskets</h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="4u special">
							<a href="#" class="image featured"><img src="/images/tombstone.jpg" alt="" /></a>
							<header>
								<h3>Custom Tombstones</h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						
					</div>
				</section>

			</div>

		<!-- Footer -->
			<div id="footer">
				
					<div class="row">
						<div class="12u">
							
							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>Like what you see?</h3>
									</header>
									<p>Follow us on Social Media.</p>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
									</ul>
								</section>
							
							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; FTH Memorial. All rights reserved.</li><li>Designed by Obsidian Developers</a></li>
									</ul>
								</div>
							
						</div>
					
					</div>
				</div>
			</div>

	</body>
</html>